schema/lite.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:math="http://www.w3.org/1998/Math/MathML"
  xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="newLite" start="TEI">
        <moduleRef key="tei"/>
        <moduleRef key="header"
          include="abstract authority availability calendar calendarDesc catDesc catRef category change classCode classDecl correspAction 
          correspContext correspDesc creation distributor edition editionStmt editorialDecl encodingDesc extent fileDesc handNote idno 
          keywords langUsage language licence listChange listPrefixDef notesStmt prefixDef profileDesc projectDesc publicationStmt rendition 
          revisionDesc scriptNote seriesStmt sourceDesc tagsDecl taxonomy teiHeader textClass titleStmt unitDecl unitDef xenoData"/>
        <moduleRef key="core"
          include="abbr add analytic author bibl biblScope biblStruct cb choice cit citedRange corr date del desc distinct editor ellipsis 
          emph expan foreign gap gb gloss graphic head hi imprint item l label lb lg list listBibl measure measureGrp media milestone monogr 
          name note noteGrp num orig p pb ptr publisher q quote rb ref reg relatedItem resp respStmt rs rt ruby series sic sp speaker 
          stage term textLang time title unclear unit"/>
        <moduleRef key="textstructure"
          include="TEI byline closer dateline div epigraph floatingText imprimatur opener postscript salute signed text"/>
        <moduleRef key="gaiji" include="g charDecl char glyph"/>
        <moduleRef key="verse" include="caesura rhyme"/>
        <moduleRef key="drama" include="castGroup castItem castList epilogue prologue role roleDesc set spGrp"/>
        <!-- spoken module is excluded -->
        <moduleRef key="cmc" include="post"/>
        <!-- dictionaries module is excluded -->
        <moduleRef key="msdescription"
          include="msName msDesc msIdentifier repository altIdentifier physDesc history incipit explicit locus msContents"/>
        <moduleRef key="transcr" include="addSpan am damage delSpan ex facsimile fw handNotes metamark retrace secl space subst substJoin supplied surface surfaceGrp surplus transpose zone"/>
        <moduleRef key="textcrit" include="app lem rdg listApp rdgGrp listWit wit witDetail"/>
        <moduleRef key="namesdates" include="affiliation birth country death education event eventName floruit gender geo 
          geogFeat listEvent listNym listObject listOrg listPerson listPlace listRelation location nym object objectName occupation 
          org orgName persName person personGrp place placeName region relation roleName sex state"/>
        <moduleRef key="figures" include="cell figDesc figure formula notatedMusic row table"/>
        <!-- corpus module is excluded -->
        <moduleRef key="linking" include="ab anchor seg standOff listAnnotation"/>
        <moduleRef key="analysis" include="s w pc"/>
        <moduleRef key="iso-fs" include="f fs"/>
        <!-- nets module is excluded -->
        <!-- certainty module is excluded -->
        <moduleRef key="tagdocs" include="code eg listRef"/>
        
        <!--        In person we only use gender -->
        <!--        objectName must be allowed as a direct child of object -->
        <!-- roleName -->
        
        <elementSpec module="core" ident="text" mode="change">
          <desc>This element must have one or more <gi>text</gi> elements or one or more
              <gi>div</gi> elements.</desc>
          <content>
            <alternate>
              <elementRef key="text" minOccurs="1" maxOccurs="unbounded"/>
              <elementRef key="div" minOccurs="1" maxOccurs="unbounded"/>
            </alternate>
          </content>
        </elementSpec>

        <elementSpec module="msdescription" ident="msIdentifier" mode="change">
          <content>
            <!--            This will be simplified when interleave is adopted-->
            <sequence minOccurs="1" maxOccurs="unbounded">
              <alternate>
                <elementRef key="msName"/>
                <elementRef key="placeName"/>
                <elementRef key="repository"/>
                <elementRef key="idno" maxOccurs="unbounded"/>
              </alternate>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <elementRef key="msName"/>
                <elementRef key="placeName"/>
                <elementRef key="repository"/>
                <elementRef key="idno" maxOccurs="unbounded"/>
              </alternate>
            </sequence>
          </content>
        </elementSpec>

        <elementSpec ident="person" module="namesdates" mode="change">
          <constraintSpec ident="no-sex" scheme="schematron">
            <constraint>
              <sch:rule context="tei:person">
                <sch:report test="tei:sex">Element &lt;sex> is not allowed </sch:report>
                <sch:report test="@sex">Attribute &lt;sex> is not allowed </sch:report>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>

        <elementSpec ident="publicationStmt" mode="change">
          <content>
            <sequence minOccurs="1" maxOccurs="unbounded">
              <alternate>
                <elementRef key="placeName" maxOccurs="unbounded"/>
                <elementRef key="publisher" maxOccurs="unbounded"/>
                <elementRef key="authority" maxOccurs="unbounded"/>
                <elementRef key="distributor" maxOccurs="unbounded"/>
                <elementRef key="name" maxOccurs="unbounded"/>
                <elementRef key="date" maxOccurs="unbounded"/>
                <elementRef key="p" maxOccurs="unbounded"/>
                <elementRef key="ref" maxOccurs="unbounded"/>
                <elementRef key="availability" maxOccurs="unbounded"/>
                <elementRef key="idno" maxOccurs="unbounded"/>
                <elementRef key="listRef" maxOccurs="unbounded"/>
              </alternate>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <elementRef key="placeName" maxOccurs="unbounded"/>
                <elementRef key="publisher" maxOccurs="unbounded"/>
                <elementRef key="authority" maxOccurs="unbounded"/>
                <elementRef key="distributor" maxOccurs="unbounded"/>
                <elementRef key="name" maxOccurs="unbounded"/>
                <elementRef key="date" maxOccurs="unbounded"/>
                <elementRef key="p" maxOccurs="unbounded"/>
                <elementRef key="ref" maxOccurs="unbounded"/>
                <elementRef key="availability" maxOccurs="unbounded"/>
                <elementRef key="idno" maxOccurs="unbounded"/>
                <elementRef key="listRef" maxOccurs="unbounded"/>
              </alternate>
            </sequence>
          </content>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
